
  @font-face {font-family: 'space grotesk'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/spacegrotesk/v6/V8mDoQDjQSkFtoMM3T6r8E7mPb54C_k3HqUtEw.woff2') format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;font-display: swap;
}
@font-face {font-family: 'space grotesk'; font-style: normal; font-weight: 700; src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/spacegrotesk/v6/V8mDoQDjQSkFtoMM3T6r8E7mPb54C_k3HqUtEw.woff2') format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;font-display: swap;
}
@font-face {font-family: 'space grotesk'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/spacegrotesk/v6/V8mDoQDjQSkFtoMM3T6r8E7mPb94C_k3HqUtEw.woff2') format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;font-display: swap;
}
@font-face {font-family: 'space grotesk'; font-style: normal; font-weight: 700; src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/spacegrotesk/v6/V8mDoQDjQSkFtoMM3T6r8E7mPb94C_k3HqUtEw.woff2') format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;font-display: swap;
}
@font-face {font-family: 'space grotesk'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/spacegrotesk/v6/V8mDoQDjQSkFtoMM3T6r8E7mPbF4C_k3HqU.woff2') format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;font-display: swap;
}
@font-face {font-family: 'space grotesk'; font-style: normal; font-weight: 700; src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/spacegrotesk/v6/V8mDoQDjQSkFtoMM3T6r8E7mPbF4C_k3HqU.woff2') format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;font-display: swap;
}@font-face {font-family: 'din-next-w01-light'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w10-light.woff2') format('woff2'); unicode-range: U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2116;font-display: swap;
}
@font-face {font-family: 'din-next-w01-light'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w02-light.woff2') format('woff2'); unicode-range: U+000D, U+0100-010F, U+0111-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+01FA-01FF, U+0218-021B, U+0237, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03C0, U+1E80-1E85, U+1EF2-1EF3, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2126, U+212E, U+2153-2154, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB00-FB04;font-display: swap;
}
@font-face {font-family: 'din-next-w01-light'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w01-light.woff2') format('woff2'); unicode-range: U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7, U+02DA, U+02DC, U+03BC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122;font-display: swap;
}@font-face {font-family: 'proxima-n-w01-reg'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/c24fcada-6239-48bc-8b88-9288338191c9/v1/proxima-n-w05-reg.woff2') format('woff2'); unicode-range: U+0000, U+0100-010F, U+0111-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+017F, U+018F, U+019D, U+01A0-01A1, U+01AF-01B0, U+01E6-01E7, U+01EA-01EB, U+01FA-01FF, U+0218-021B, U+0232-0233, U+0237, U+0259, U+0272, U+02B0, U+02BB-02BC, U+02C9, U+02CB, U+02D8-02D9, U+02DB, U+02DD, U+0374-0375, U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D7, U+0400-045F, U+0472-0475, U+048A-04FF, U+0510-0513, U+051C-051D, U+0524-0527, U+052E-052F, U+1E02-1E03, U+1E0A-1E0B, U+1E1E-1E1F, U+1E22-1E23, U+1E56-1E57, U+1E60-1E61, U+1E6A-1E6B, U+1E80-1E85, U+1E9E, U+1EA0-1EF9, U+2000-200A, U+2015, U+201B, U+2032-2033, U+203D-203E, U+2070, U+2074-2079, U+207D-2089, U+208D-208E, U+20A1, U+20A3-20A4, U+20A6-20AB, U+20B4, U+20B8-20BA, U+20BC-20BD, U+2113, U+2116-2117, U+2120, U+2126, U+212E, U+2153-2154, U+215B-215E, U+2190-2193, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+22B2-22B3, U+22C5, U+2318, U+25A0, U+25B2, U+25BC, U+25CA, U+25CF, U+2605, U+2610-2611, U+2666, U+2713, U+2E18, U+E004-E005, U+F43A-F43B, U+F460-F473, U+F498-F49F, U+F4C6-F4C7, U+F4CC-F4CD, U+F4D2-F4D7, U+F50A-F50B, U+F50E-F533, U+F536-F539, U+F53C-F53F, U+F637, U+F6C3, U+F6DD, U+F6DF-F6F3, U+F8FF, U+FB00-FB04;font-display: swap;
}
@font-face {font-family: 'proxima-n-w01-reg'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/c24fcada-6239-48bc-8b88-9288338191c9/v1/proxima-n-w01-reg.woff2') format('woff2'); unicode-range: U+000D, U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+F656-F659;font-display: swap;
}@font-face {font-family: 'helvetica-w01-roman'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-lt-w10-roman.woff2') format('woff2'); unicode-range: U+0000, U+000D, U+0020-007E, U+00A0, U+00A4, U+00A6-00A7, U+00A9, U+00AB-00AE, U+00B0-00B1, U+00B5-00B7, U+00BB, U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+20AC, U+2116, U+2122;font-display: swap;
}
@font-face {font-family: 'helvetica-w01-roman'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-w02-roman.woff2') format('woff2'); unicode-range: U+000D, U+0020-007E, U+00A0-012B, U+012E-0137, U+0139-0149, U+014C-017E, U+0192, U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0394, U+03A9, U+03BC, U+03C0, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+E301-E304, U+E306-E30D, U+FB01-FB02;font-display: swap;
}
@font-face {font-family: 'helvetica-w01-roman'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-w01-roman.woff2') format('woff2'); unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-012B, U+012E-0137, U+0139-0149, U+014C-017E, U+0192, U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0394, U+03A9, U+03BC, U+03C0, U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0462-0463, U+0472-0475, U+0490-0491, U+04D9, U+1E9E, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+20B9-20BA, U+20BC-20BD, U+2113, U+2116, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+E300-E30D, U+F6C5, U+F6C9-F6D8, U+F8FF, U+FB01-FB02;font-display: swap;
}@font-face {font-family: 'madefor-display'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/26656ec7-c27d-4bdc-a9f4-6b498bbfad69/madefor-display.var.original.woff2') format('woff2-variations'), url('//static.parastorage.com/fonts/v2/26656ec7-c27d-4bdc-a9f4-6b498bbfad69/v1/madefor-display.woff2') format('woff2'); unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A5, U+00A7-00B4, U+00B6-0107, U+010A-0113, U+0116-011B, U+011E-0123, U+0126-012B, U+012E-0133, U+0136-013E, U+0141-0148, U+014A-014B, U+0150-0155, U+0158-015B, U+015E-016B, U+016E-017E, U+01A0-01A1, U+01AF-01B0, U+0218-021B, U+0237, U+02C6-02C7, U+02D8-02DD, U+0400-045F, U+0462-0463, U+0472-0475, U+0490-0491, U+1E24-1E25, U+1E36-1E37, U+1E80-1E85, U+1E9E, U+1EA0-1EF9, U+2000-200B, U+2010-2015, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2070, U+2074-2079, U+2080-2089, U+20AB-20AC, U+20B4, U+20B9-20BA, U+20BD, U+2116, U+2122, U+2190-2193, U+2212, U+25B2, U+25B6, U+25BC, U+25C0, U+FEFF;font-display: swap;
}@font-face {font-family: 'helveticaneuew01-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/e333842f-0a84-43f9-9ab7-fb1093ba1628/v1/helveticaneuew01-45ligh.other.woff2') format('woff2'); unicode-range: U+02C7, U+2021, U+2030, U+E300-E305, U+E308;font-display: swap;
}
@font-face {font-family: 'helveticaneuew01-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/e333842f-0a84-43f9-9ab7-fb1093ba1628/v1/helveticaneuew01-45ligh.latin-ext.woff2') format('woff2'); unicode-range: U+0160-0161, U+0178, U+017D-017E, U+0192, U+2020;font-display: swap;
}
@font-face {font-family: 'helveticaneuew01-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/e333842f-0a84-43f9-9ab7-fb1093ba1628/v1/helveticaneuew01-45ligh.latin.woff2') format('woff2'); unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039-203A, U+2044, U+20AC, U+2122;font-display: swap;
}@font-face {font-family: 'helveticaneuew02-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/bcaffff6-40a1-4827-ace9-c65e93f5fb5f/v1/helveticaneuew02-45ligh.other.woff2') format('woff2'); unicode-range: U+02C7, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+2021, U+2030, U+2126, U+212E, U+E0D6, U+E300-E30D, U+F8FF, U+FB01-FB02;font-display: swap;
}
@font-face {font-family: 'helveticaneuew02-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/bcaffff6-40a1-4827-ace9-c65e93f5fb5f/v1/helveticaneuew02-45ligh.math.woff2') format('woff2'); unicode-range: U+0394, U+03A9, U+03BC, U+03C0, U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA;font-display: swap;
}
@font-face {font-family: 'helveticaneuew02-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/bcaffff6-40a1-4827-ace9-c65e93f5fb5f/v1/helveticaneuew02-45ligh.latin-ext.woff2') format('woff2'); unicode-range: U+0100-012B, U+012E-0130, U+0132-0137, U+0139-0149, U+014C-0151, U+0154-017E, U+0192, U+0218-021B, U+1E9E, U+2020, U+20B9-20BA, U+20BC-20BD, U+2113;font-display: swap;
}
@font-face {font-family: 'helveticaneuew02-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/bcaffff6-40a1-4827-ace9-c65e93f5fb5f/v1/helveticaneuew02-45ligh.latin.woff2') format('woff2'); unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+2215;font-display: swap;
}@font-face {font-family: 'helveticaneuew10-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/68b86ae9-7ca0-48cc-b777-6559005a8f94/v1/helveticaneuew10-45ligh.other.woff2') format('woff2'); unicode-range: U+02C7, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+2010, U+2015, U+2021, U+2030, U+203D, U+2070, U+2075-208E, U+2105, U+2117, U+2126, U+212E, U+2153-2154, U+215B-215E, U+FB00-FB04;font-display: swap;
}
@font-face {font-family: 'helveticaneuew10-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/68b86ae9-7ca0-48cc-b777-6559005a8f94/v1/helveticaneuew10-45ligh.math.woff2') format('woff2'); unicode-range: U+2202, U+2206, U+220F, U+2211, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA;font-display: swap;
}
@font-face {font-family: 'helveticaneuew10-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/68b86ae9-7ca0-48cc-b777-6559005a8f94/v1/helveticaneuew10-45ligh.cyrillic.woff2') format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+2116;font-display: swap;
}
@font-face {font-family: 'helveticaneuew10-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/68b86ae9-7ca0-48cc-b777-6559005a8f94/v1/helveticaneuew10-45ligh.greek.woff2') format('woff2'); unicode-range: U+0374-0375, U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE;font-display: swap;
}
@font-face {font-family: 'helveticaneuew10-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/68b86ae9-7ca0-48cc-b777-6559005a8f94/v1/helveticaneuew10-45ligh.latin-ext.woff2') format('woff2'); unicode-range: U+0100-0130, U+0132-0151, U+0154-017E, U+0192, U+01FA-01FF, U+0218-021B, U+0237, U+1E80-1E85, U+1E9E, U+1EF2-1EF3, U+2020, U+20B9-20BA, U+20BD, U+2113;font-display: swap;
}
@font-face {font-family: 'helveticaneuew10-45ligh'; font-style: normal; font-weight: 400; src: url('//static.parastorage.com/fonts/v2/68b86ae9-7ca0-48cc-b777-6559005a8f94/v1/helveticaneuew10-45ligh.latin.woff2') format('woff2'); unicode-range: U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+2215;font-display: swap;
}@font-face {
font-display: swap;
font-family: wf_0bcd6a126fac4980b8c2c8f40;
src: url("https://static.wixstatic.com/ufonts/a1f997_0bcd6a126fac4980b8c2c8f40fde666e/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/a1f997_0bcd6a126fac4980b8c2c8f40fde666e/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/a1f997_0bcd6a126fac4980b8c2c8f40fde666e/ttf/file.ttf") format("ttf");
}@font-face {
font-display: swap;
font-family: wf_236f60f545b74332a7e6a138f;
src: url("https://static.wixstatic.com/ufonts/a1f997_236f60f545b74332a7e6a138fa95c2c7/woff2/file.woff2") format("woff2"),
url("https://static.wixstatic.com/ufonts/a1f997_236f60f545b74332a7e6a138fa95c2c7/woff/file.woff") format("woff"),
url("https://static.wixstatic.com/ufonts/a1f997_236f60f545b74332a7e6a138fa95c2c7/ttf/file.ttf") format("ttf");
}#masterPage:not(.landingPage) #PAGES_CONTAINER{margin-top:0px;margin-bottom:0px;}#masterPage.landingPage #CONTROLLER_COMP_CUSTOM_ID{display:none;}#masterPage.landingPage #SOSP_CONTAINER_CUSTOM_ID{display:none;}#masterPage.landingPage #SITE_HEADER{display:none;}#masterPage.landingPage #SITE_FOOTER{display:none;}#masterPage.landingPage #SITE_HEADER-placeholder{display:none;}#masterPage.landingPage #SITE_FOOTER-placeholder{display:none;}#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus, #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus ~ .wixSdkShowFocusOnSibling{--focus-ring-box-shadow:0 0 0 1px #ffffff, 0 0 0 3px #116dff;box-shadow:var(--focus-ring-box-shadow) !important;z-index:1;}.has-inner-focus-ring{--focus-ring-box-shadow:inset 0 0 0 1px #ffffff, inset 0 0 0 3px #116dff !important;}#masterPage{left:0;margin-left:0;width:100%;min-width:0;}#PAGES_CONTAINER{--pinned-layer-in-container:50;--above-all-in-container:49;}#CONTROLLER_COMP_CUSTOM_ID{--pinned-layer-in-container:51;--above-all-in-container:49;}#SOSP_CONTAINER_CUSTOM_ID{--pinned-layer-in-container:52;--above-all-in-container:49;}#SITE_HEADER{z-index:calc(var(--pinned-layers-in-page, 0) + 53);--above-all-in-container:10000;}#SITE_FOOTER{--pinned-layer-in-container:54;--above-all-in-container:49;}#comp-kzcei8p9-pinned-layer{z-index:calc(var(--pinned-layers-in-page, 0) + 55);--above-all-in-container:10000;}[id="soapAfterPagesContainer"].page-without-sosp [data-mesh-id=soapAfterPagesContainerinlineContent]{height:auto;width:100%;position:static;min-height:auto;padding-bottom:0px;box-sizing:border-box;}[id="soapAfterPagesContainer"].page-without-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer] > [id="CONTROLLER_COMP_CUSTOM_ID"]{position:absolute;top:15px;left:20px;margin-left:calc((100% - 980px) * 0.5);}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent]{height:auto;width:100%;}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box;}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer] > [id="CONTROLLER_COMP_CUSTOM_ID"]{position:absolute;top:-91px;left:20px;margin-left:calc((100% - 980px) * 0.5);}[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id=soapAfterPagesContainerinlineContent-gridContainer] > [id="SOSP_CONTAINER_CUSTOM_ID"]{position:relative;margin:76px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}#comp-kzcei8p9{justify-self:end;align-self:end;position:absolute;grid-area:1 / 1 / 2 / 2;pointer-events:auto;}:root,:host, .spxThemeOverride, .max-width-container{--color_0:255,255,255;--color_1:255,255,255;--color_2:0,0,0;--color_3:237,28,36;--color_4:0,136,203;--color_5:255,203,5;--color_6:114,114,114;--color_7:176,176,176;--color_8:255,255,255;--color_9:114,114,114;--color_10:176,176,176;--color_11:255,255,255;--color_12:232,230,230;--color_13:199,199,199;--color_14:110,110,110;--color_15:0,0,0;--color_16:255,234,182;--color_17:255,191,35;--color_18:0,0,0;--color_19:112,80,0;--color_20:59,44,8;--color_21:255,215,239;--color_22:255,184,242;--color_23:242,143,224;--color_24:184,108,170;--color_25:97,45,87;--color_26:162,238,213;--color_27:116,220,186;--color_28:10,203,139;--color_29:7,135,93;--color_30:3,68,46;--color_31:255,189,190;--color_32:254,156,157;--color_33:254,57,60;--color_34:169,38,40;--color_35:85,19,20;--color_36:255,255,255;--color_37:0,0,0;--color_38:232,230,230;--color_39:199,199,199;--color_40:110,110,110;--color_41:255,191,35;--color_42:255,215,239;--color_43:10,203,139;--color_44:254,57,60;--color_45:0,0,0;--color_46:0,0,0;--color_47:0,0,0;--color_48:0,0,0;--color_49:0,0,0;--color_50:255,255,255;--color_51:255,255,255;--color_52:0,0,0;--color_53:0,0,0;--color_54:199,199,199;--color_55:199,199,199;--color_56:255,255,255;--color_57:255,255,255;--color_58:0,0,0;--color_59:0,0,0;--color_60:0,0,0;--color_61:0,0,0;--color_62:255,255,255;--color_63:255,255,255;--color_64:199,199,199;--color_65:199,199,199;--font_0:normal normal normal 50px/1.1em 'space grotesk',sans-serif;--font_1:normal normal normal 16px/1.4em din-next-w01-light,sans-serif;--font_2:normal normal normal 38px/1.3em 'space grotesk',sans-serif;--font_3:normal normal normal 28px/1.4em 'space grotesk',sans-serif;--font_4:normal normal normal 26px/1.4em 'space grotesk',sans-serif;--font_5:normal normal bold 22px/1.4em 'space grotesk',sans-serif;--font_6:normal normal bold 16px/1.4em 'space grotesk',sans-serif;--font_7:normal normal bold 20px/1.4em proxima-n-w01-reg,sans-serif;--font_8:normal normal normal 16px/1.6em proxima-n-w01-reg,sans-serif;--font_9:normal normal normal 14px/1.2em proxima-n-w01-reg,sans-serif;--font_10:normal normal normal 12px/1.4em din-next-w01-light,sans-serif;--wix-ads-height:0px;--sticky-offset:0px;--wix-ads-top-height:0px;--site-width:980px;--above-all-z-index:100000;--portals-z-index:100001;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;--minViewportSize:320;--maxViewportSize:1920;--theme-spx-ratio:1px;--scaling-factor:min((100 * var(--one-unit)), var(--section-max-width));--customScaleViewportLimit:clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));}.font_0{font:var(--font_0);color:rgb(var(--color_45));letter-spacing:0em;}.font_1{font:var(--font_1);color:rgb(var(--color_14));letter-spacing:0em;}.font_2{font:var(--font_2);color:rgb(var(--color_45));letter-spacing:0em;}.font_3{font:var(--font_3);color:rgb(var(--color_45));letter-spacing:0em;}.font_4{font:var(--font_4);color:rgb(var(--color_45));letter-spacing:0em;}.font_5{font:var(--font_5);color:rgb(var(--color_45));letter-spacing:0em;}.font_6{font:var(--font_6);color:rgb(var(--color_45));letter-spacing:0em;}.font_7{font:var(--font_7);color:rgb(var(--color_15));letter-spacing:0em;}.font_8{font:var(--font_8);color:rgb(var(--color_15));letter-spacing:0em;}.font_9{font:var(--font_9);color:rgb(var(--color_15));letter-spacing:0em;}.font_10{font:var(--font_10);color:rgb(var(--color_14));letter-spacing:0em;}.color_0{color:rgb(var(--color_0));}.color_1{color:rgb(var(--color_1));}.color_2{color:rgb(var(--color_2));}.color_3{color:rgb(var(--color_3));}.color_4{color:rgb(var(--color_4));}.color_5{color:rgb(var(--color_5));}.color_6{color:rgb(var(--color_6));}.color_7{color:rgb(var(--color_7));}.color_8{color:rgb(var(--color_8));}.color_9{color:rgb(var(--color_9));}.color_10{color:rgb(var(--color_10));}.color_11{color:rgb(var(--color_11));}.color_12{color:rgb(var(--color_12));}.color_13{color:rgb(var(--color_13));}.color_14{color:rgb(var(--color_14));}.color_15{color:rgb(var(--color_15));}.color_16{color:rgb(var(--color_16));}.color_17{color:rgb(var(--color_17));}.color_18{color:rgb(var(--color_18));}.color_19{color:rgb(var(--color_19));}.color_20{color:rgb(var(--color_20));}.color_21{color:rgb(var(--color_21));}.color_22{color:rgb(var(--color_22));}.color_23{color:rgb(var(--color_23));}.color_24{color:rgb(var(--color_24));}.color_25{color:rgb(var(--color_25));}.color_26{color:rgb(var(--color_26));}.color_27{color:rgb(var(--color_27));}.color_28{color:rgb(var(--color_28));}.color_29{color:rgb(var(--color_29));}.color_30{color:rgb(var(--color_30));}.color_31{color:rgb(var(--color_31));}.color_32{color:rgb(var(--color_32));}.color_33{color:rgb(var(--color_33));}.color_34{color:rgb(var(--color_34));}.color_35{color:rgb(var(--color_35));}.color_36{color:rgb(var(--color_36));}.color_37{color:rgb(var(--color_37));}.color_38{color:rgb(var(--color_38));}.color_39{color:rgb(var(--color_39));}.color_40{color:rgb(var(--color_40));}.color_41{color:rgb(var(--color_41));}.color_42{color:rgb(var(--color_42));}.color_43{color:rgb(var(--color_43));}.color_44{color:rgb(var(--color_44));}.color_45{color:rgb(var(--color_45));}.color_46{color:rgb(var(--color_46));}.color_47{color:rgb(var(--color_47));}.color_48{color:rgb(var(--color_48));}.color_49{color:rgb(var(--color_49));}.color_50{color:rgb(var(--color_50));}.color_51{color:rgb(var(--color_51));}.color_52{color:rgb(var(--color_52));}.color_53{color:rgb(var(--color_53));}.color_54{color:rgb(var(--color_54));}.color_55{color:rgb(var(--color_55));}.color_56{color:rgb(var(--color_56));}.color_57{color:rgb(var(--color_57));}.color_58{color:rgb(var(--color_58));}.color_59{color:rgb(var(--color_59));}.color_60{color:rgb(var(--color_60));}.color_61{color:rgb(var(--color_61));}.color_62{color:rgb(var(--color_62));}.color_63{color:rgb(var(--color_63));}.color_64{color:rgb(var(--color_64));}.color_65{color:rgb(var(--color_65));}.backcolor_0{background-color:rgb(var(--color_0));}.backcolor_1{background-color:rgb(var(--color_1));}.backcolor_2{background-color:rgb(var(--color_2));}.backcolor_3{background-color:rgb(var(--color_3));}.backcolor_4{background-color:rgb(var(--color_4));}.backcolor_5{background-color:rgb(var(--color_5));}.backcolor_6{background-color:rgb(var(--color_6));}.backcolor_7{background-color:rgb(var(--color_7));}.backcolor_8{background-color:rgb(var(--color_8));}.backcolor_9{background-color:rgb(var(--color_9));}.backcolor_10{background-color:rgb(var(--color_10));}.backcolor_11{background-color:rgb(var(--color_11));}.backcolor_12{background-color:rgb(var(--color_12));}.backcolor_13{background-color:rgb(var(--color_13));}.backcolor_14{background-color:rgb(var(--color_14));}.backcolor_15{background-color:rgb(var(--color_15));}.backcolor_16{background-color:rgb(var(--color_16));}.backcolor_17{background-color:rgb(var(--color_17));}.backcolor_18{background-color:rgb(var(--color_18));}.backcolor_19{background-color:rgb(var(--color_19));}.backcolor_20{background-color:rgb(var(--color_20));}.backcolor_21{background-color:rgb(var(--color_21));}.backcolor_22{background-color:rgb(var(--color_22));}.backcolor_23{background-color:rgb(var(--color_23));}.backcolor_24{background-color:rgb(var(--color_24));}.backcolor_25{background-color:rgb(var(--color_25));}.backcolor_26{background-color:rgb(var(--color_26));}.backcolor_27{background-color:rgb(var(--color_27));}.backcolor_28{background-color:rgb(var(--color_28));}.backcolor_29{background-color:rgb(var(--color_29));}.backcolor_30{background-color:rgb(var(--color_30));}.backcolor_31{background-color:rgb(var(--color_31));}.backcolor_32{background-color:rgb(var(--color_32));}.backcolor_33{background-color:rgb(var(--color_33));}.backcolor_34{background-color:rgb(var(--color_34));}.backcolor_35{background-color:rgb(var(--color_35));}.backcolor_36{background-color:rgb(var(--color_36));}.backcolor_37{background-color:rgb(var(--color_37));}.backcolor_38{background-color:rgb(var(--color_38));}.backcolor_39{background-color:rgb(var(--color_39));}.backcolor_40{background-color:rgb(var(--color_40));}.backcolor_41{background-color:rgb(var(--color_41));}.backcolor_42{background-color:rgb(var(--color_42));}.backcolor_43{background-color:rgb(var(--color_43));}.backcolor_44{background-color:rgb(var(--color_44));}.backcolor_45{background-color:rgb(var(--color_45));}.backcolor_46{background-color:rgb(var(--color_46));}.backcolor_47{background-color:rgb(var(--color_47));}.backcolor_48{background-color:rgb(var(--color_48));}.backcolor_49{background-color:rgb(var(--color_49));}.backcolor_50{background-color:rgb(var(--color_50));}.backcolor_51{background-color:rgb(var(--color_51));}.backcolor_52{background-color:rgb(var(--color_52));}.backcolor_53{background-color:rgb(var(--color_53));}.backcolor_54{background-color:rgb(var(--color_54));}.backcolor_55{background-color:rgb(var(--color_55));}.backcolor_56{background-color:rgb(var(--color_56));}.backcolor_57{background-color:rgb(var(--color_57));}.backcolor_58{background-color:rgb(var(--color_58));}.backcolor_59{background-color:rgb(var(--color_59));}.backcolor_60{background-color:rgb(var(--color_60));}.backcolor_61{background-color:rgb(var(--color_61));}.backcolor_62{background-color:rgb(var(--color_62));}.backcolor_63{background-color:rgb(var(--color_63));}.backcolor_64{background-color:rgb(var(--color_64));}.backcolor_65{background-color:rgb(var(--color_65));}#PAGES_CONTAINER{left:0;margin-left:0;width:100%;min-width:0;}#SITE_PAGES{left:0;margin-left:0;width:100%;min-width:0;}#SITE_PAGES{--transition-duration:700ms;}#CONTROLLER_COMP_CUSTOM_ID{--alpha-bg:1;--bg:61,155,233;--bgh:43,104,156;--brd:43,104,156;--brdh:61,155,233;--brw:0px;--fnt:normal normal normal 14px/1.4em raleway;--rd:20px;--txt:255,255,255;--txth:255,255,255;--alpha-bgh:1;--alpha-brd:1;--alpha-brdh:1;--alpha-txt:1;--alpha-txth:1;--boxShadowToggleOn-shd:none;--shd:0 1px 4px rgba(0, 0, 0, 0.6);}#SOSP_CONTAINER_CUSTOM_ID{--brw:0px;--brd:var(--color_15);--bg:var(--color_11);--rd:0px;--shd:none;--gradient:none;--alpha-bg:1;--alpha-brd:1;--boxShadowToggleOn-shd:none;--bg-gradient:none;}#SOSP_CONTAINER_CUSTOM_ID{width:980px;}[data-mode=hover] #SOSP_CONTAINER_CUSTOM_ID{width:980px;}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent]{height:auto;width:980px;}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:min-content 1fr;grid-template-columns:100%;}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer] > [id="comp-kya70o3q"]{position:relative;margin:0px 0px 0 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start;}[data-mesh-id=SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer] > [id="comp-kya70qi4"]{position:relative;margin:0px 0px 0px 0;left:12px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start;}#SOSP_CONTAINER_CUSTOM_ID{--shc-mutated-brightness:128,128,128;}#comp-kya70o3q{width:980px;height:250px;}.comp-kya70o3q {
        --wix-direction: ltr;
--profileLayout: 1;
--pictureStyle: 0;
--profileAlignment: 0;
--profileImageSize: 110px;
--badge-layout: 0;
--badge-size: 0;
--badge-corner-radius: 10;
--border-width-1: 1;
--pw-cover-photo-opacity: 60;
--pw-cover-photo-opacity-desktop: 60;
--profileWidgetHeight: 250px;
--pw-button-border-width: 1;
--pw-button-responsive-border-width: 1;
--pw-button-text-font-size-mobile: 16;
--pw-button-corner-radius: 0;
--pw-button-responsive-corner-radius: 0;
--vertical-pw-corner-radius: 0;
--pw-responsive-name-font: normal normal normal 35px/1.4em helvetica-w01-roman;
--badge-font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
--text-primary-font: normal normal normal 20px/1.4em proxima-n-w01-reg,sans-serif;
--text-secondary-font: normal normal normal 14px/1.4em proxima-n-w01-reg,sans-serif;
--pw-name-font-mobile: normal normal normal 20px/1.4em proxima-n-w01-reg,sans-serif;
--title-font: normal normal normal 14px/1.4em proxima-n-w01-reg,sans-serif;
--title-responsive-font: normal normal normal 20px/1.4em proxima-n-w01-reg,sans-serif;
--title-mobile-font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
--pw-responsive-ff-font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
--pw-ff-font-mobile: normal normal normal 12px/1.4em proxima-n-w01-reg,sans-serif;
--button-font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
--pw-responsive-button-font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
--pw-button-font-mobile: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
--pw-cover-color-mobile: 255,191,35;
--pw-cover-color-mobile-rgb: 255,191,35;
--pw-cover-color-mobile-opacity: 1;
--pw-cover-color: 255,191,35;
--pw-cover-color-rgb: 255,191,35;
--pw-cover-color-opacity: 1;
--pw-responsive-name-color: 0,0,0;
--pw-responsive-name-color-rgb: 0,0,0;
--pw-responsive-name-color-opacity: 1;
--pw-responsive-button-color-mobile: 0,0,0;
--pw-responsive-button-color-mobile-rgb: 0,0,0;
--pw-responsive-button-color-mobile-opacity: 1;
--pw-responsive-button-color: 0,0,0;
--pw-responsive-button-color-rgb: 0,0,0;
--pw-responsive-button-color-opacity: 1;
--text-color-primary: 0,0,0;
--text-color-primary-rgb: 0,0,0;
--text-color-primary-opacity: 1;
--text-color-secondary: 0,0,0;
--text-color-secondary-rgb: 0,0,0;
--text-color-secondary-opacity: 1;
--pw-name-color-mobile: 0,0,0;
--pw-name-color-mobile-rgb: 0,0,0;
--pw-name-color-mobile-opacity: 1;
--title-color: 0,0,0;
--title-color-rgb: 0,0,0;
--title-color-opacity: 1;
--title-responsive-color: 255,255,255;
--title-responsive-color-rgb: 255,255,255;
--title-responsive-color-opacity: 1;
--title-mobile-color: 0,0,0;
--title-mobile-color-rgb: 0,0,0;
--title-mobile-color-opacity: 1;
--pw-responsive-ff-color: 255,255,255;
--pw-responsive-ff-color-rgb: 255,255,255;
--pw-responsive-ff-color-opacity: 1;
--pw-ff-color-mobile: 0,0,0;
--pw-ff-color-mobile-rgb: 0,0,0;
--pw-ff-color-mobile-opacity: 1;
--button-opacity-and-color: 0,0,0;
--button-opacity-and-color-rgb: 0,0,0;
--button-opacity-and-color-opacity: 1;
--box-color: 255,255,255;
--box-color-rgb: 255,255,255;
--box-color-opacity: 1;
--border-color: 0,0,0,0.2;
--border-color-rgb: 0,0,0;
--border-color-opacity: 0.2;
--pw-cover-color-desktop: 255,191,35;
--pw-cover-color-desktop-rgb: 255,191,35;
--pw-cover-color-desktop-opacity: 1;
--pw-button-font-color: 255,255,255;
--pw-button-font-color-rgb: 255,255,255;
--pw-button-font-color-opacity: 1;
--pw-button-responsive-font-color: 0,0,0;
--pw-button-responsive-font-color-rgb: 0,0,0;
--pw-button-responsive-font-color-opacity: 1;
--pw-button-border-color: 0,0,0;
--pw-button-border-color-rgb: 0,0,0;
--pw-button-border-color-opacity: 1;
--pw-button-responsive-border-color: 0,0,0;
--pw-button-responsive-border-color-rgb: 0,0,0;
--pw-button-responsive-border-color-opacity: 1;
--pw-responsive-name-font-style: normal;
--pw-responsive-name-font-variant: normal;
--pw-responsive-name-font-weight: normal;
--pw-responsive-name-font-size: 35px;
--pw-responsive-name-font-line-height: 1.4em;
--pw-responsive-name-font-family: helvetica-w01-roman;
--pw-responsive-name-font-text-decoration: none;
--badge-font-style: normal;
--badge-font-variant: normal;
--badge-font-weight: normal;
--badge-font-size: 16px;
--badge-font-line-height: 1.4em;
--badge-font-family: proxima-n-w01-reg,sans-serif;
--badge-font-text-decoration: none;
--text-primary-font-style: normal;
--text-primary-font-variant: normal;
--text-primary-font-weight: normal;
--text-primary-font-size: 20px;
--text-primary-font-line-height: 1.4em;
--text-primary-font-family: proxima-n-w01-reg,sans-serif;
--text-primary-font-text-decoration: none;
--text-secondary-font-style: normal;
--text-secondary-font-variant: normal;
--text-secondary-font-weight: normal;
--text-secondary-font-size: 14px;
--text-secondary-font-line-height: 1.4em;
--text-secondary-font-family: proxima-n-w01-reg,sans-serif;
--text-secondary-font-text-decoration: none;
--pw-name-font-mobile-style: normal;
--pw-name-font-mobile-variant: normal;
--pw-name-font-mobile-weight: normal;
--pw-name-font-mobile-size: 20px;
--pw-name-font-mobile-line-height: 1.4em;
--pw-name-font-mobile-family: proxima-n-w01-reg,sans-serif;
--pw-name-font-mobile-text-decoration: none;
--title-font-style: normal;
--title-font-variant: normal;
--title-font-weight: normal;
--title-font-size: 14px;
--title-font-line-height: 1.4em;
--title-font-family: proxima-n-w01-reg,sans-serif;
--title-font-text-decoration: none;
--title-responsive-font-style: normal;
--title-responsive-font-variant: normal;
--title-responsive-font-weight: normal;
--title-responsive-font-size: 20px;
--title-responsive-font-line-height: 1.4em;
--title-responsive-font-family: proxima-n-w01-reg,sans-serif;
--title-responsive-font-text-decoration: none;
--title-mobile-font-style: normal;
--title-mobile-font-variant: normal;
--title-mobile-font-weight: normal;
--title-mobile-font-size: 16px;
--title-mobile-font-line-height: 1.4em;
--title-mobile-font-family: proxima-n-w01-reg,sans-serif;
--title-mobile-font-text-decoration: none;
--pw-responsive-ff-font-style: normal;
--pw-responsive-ff-font-variant: normal;
--pw-responsive-ff-font-weight: normal;
--pw-responsive-ff-font-size: 16px;
--pw-responsive-ff-font-line-height: 1.4em;
--pw-responsive-ff-font-family: proxima-n-w01-reg,sans-serif;
--pw-responsive-ff-font-text-decoration: none;
--pw-ff-font-mobile-style: normal;
--pw-ff-font-mobile-variant: normal;
--pw-ff-font-mobile-weight: normal;
--pw-ff-font-mobile-size: 12px;
--pw-ff-font-mobile-line-height: 1.4em;
--pw-ff-font-mobile-family: proxima-n-w01-reg,sans-serif;
--pw-ff-font-mobile-text-decoration: none;
--button-font-style: normal;
--button-font-variant: normal;
--button-font-weight: normal;
--button-font-size: 16px;
--button-font-line-height: 1.4em;
--button-font-family: proxima-n-w01-reg,sans-serif;
--button-font-text-decoration: none;
--pw-responsive-button-font-style: normal;
--pw-responsive-button-font-variant: normal;
--pw-responsive-button-font-weight: normal;
--pw-responsive-button-font-size: 16px;
--pw-responsive-button-font-line-height: 1.4em;
--pw-responsive-button-font-family: proxima-n-w01-reg,sans-serif;
--pw-responsive-button-font-text-decoration: none;
--pw-button-font-mobile-style: normal;
--pw-button-font-mobile-variant: normal;
--pw-button-font-mobile-weight: normal;
--pw-button-font-mobile-size: 16px;
--pw-button-font-mobile-line-height: 1.4em;
--pw-button-font-mobile-family: proxima-n-w01-reg,sans-serif;
--pw-button-font-mobile-text-decoration: none;
--profileImageDisplay: block;
--profileImageBorderRadius: 50%;
--coverButtonsBoxMarginLeft: initial;
--coverButtonsBoxPosition: initial;
--coverButtonsBoxTop: initial;
--coverButtonsBoxInsetInlineEnd: initial;
--coverButtonsBoxMarginTop: 38px;
--repositionModeButtonsFlexDirection: row;
--repositionModeButtonsMarginInlineStart: 34px;
--repositionModeButtonsMarginInlineEnd: initial;
--coverPhotoContainerInsetInlineStart: 24px;
--coverPhotoContainerInsetInlineEnd: initial;
--contentLayoutPosition: relative;
--contentLayoutFlexDirection: row;
--contentLayoutAlignItems: initial;
--contentLayoutPaddingInlineStart: 30px;
--contentLayoutPaddingInlineEnd: 16px;
--contentAlignItems: flex-end;
--contentMarginBottom: 30px;
--contentMarginInlineEnd: initial;
--contentMarginInlineStart: 24px;
--contentJustifyContent: space-between;
--contentWidth: initial;
--contentFlexDirection: row;
--detailsAndPhotoFlexDirection: initial;
--detailsAndPhotoAlignItems: initial;
--memberDetailsPaddingInlineStart: initial;
--memberDetailsPaddingInlineEnd: initial;
--memberDetailsMarginTop: initial;
--memberDetailsAlignItems: initial;
--memberDetailsMaxWidth: 500px;
--memberDetailsMarginBottom: initial;
--profilePhotoMarginRight: initial;
--profilePhotoMarginLeft: initial;
--badgeListContainerJustifyContent: initial;
--badgeListJustifyContent: flex-start;
--numbersBoxPosition: initial;
--numbersBoxJustifyContent: flex-start;
--nameContainerMaxWidth: initial;
--nameContainerWidth: initial;
--nameContainerJustifyContent: flex-start;
--nameBoxTextMaxWidth: 470px;
--titleContainerTextAlign: initial;
--titleContainerDisplay: initial;
--titleContainerFlexDirection: initial;
--titleMaxWidth: 470px;
--buttonsBoxPosition: initial;
--buttonsBoxTop: initial;
--buttonsBoxInsetInlineEnd: initial;
--moreActionsMarginLeft: initial;
--moreActionsMarginRight: -14px;
--badgeFont: proxima-n-w01-reg,sans-serif;
--badgeIconHeight: 12px;
--badgeIconWidth: initial;
--badgeIconMaxWidth: 30px;
--badgeIconMargin: 0 4px 0 0;
--remainderWrapperHeight: 20px;
--remainderWrapperMinWidth: 30px;
--badgeWrapperHeight: 20px;
--badgeWrapperWidth: initial;
--badgeWrapperPadding: 0 8px;
--badgeTextDisplay: initial;
--badgeIconDisplay: flex;
--badgeDefaultIconDisplay: none;
--remainderBadgeColor: rgba(0,0,0,1);
        --wix-color-1: 255,255,255;
--wix-color-2: 232,230,230;
--wix-color-3: 199,199,199;
--wix-color-4: 110,110,110;
--wix-color-5: 0,0,0;
--wix-color-6: 255,234,182;
--wix-color-7: 255,191,35;
--wix-color-8: 0,0,0;
--wix-color-9: 112,80,0;
--wix-color-10: 59,44,8;
--wix-color-11: 255,215,239;
--wix-color-12: 255,184,242;
--wix-color-13: 242,143,224;
--wix-color-14: 184,108,170;
--wix-color-15: 97,45,87;
--wix-color-16: 162,238,213;
--wix-color-17: 116,220,186;
--wix-color-18: 10,203,139;
--wix-color-19: 7,135,93;
--wix-color-20: 3,68,46;
--wix-color-21: 255,189,190;
--wix-color-22: 254,156,157;
--wix-color-23: 254,57,60;
--wix-color-24: 169,38,40;
--wix-color-25: 85,19,20;
--wix-color-26: 255,255,255;
--wix-color-27: 0,0,0;
--wix-color-28: 232,230,230;
--wix-color-29: 199,199,199;
--wix-color-30: 110,110,110;
--wix-color-31: 255,191,35;
--wix-color-32: 255,215,239;
--wix-color-33: 10,203,139;
--wix-color-34: 254,57,60;
--wix-color-35: 0,0,0;
--wix-color-36: 0,0,0;
--wix-color-37: 0,0,0;
--wix-color-38: 0,0,0;
--wix-color-39: 0,0,0;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 0,0,0;
--wix-color-43: 0,0,0;
--wix-color-44: 199,199,199;
--wix-color-45: 199,199,199;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 0,0,0;
--wix-color-49: 0,0,0;
--wix-color-50: 0,0,0;
--wix-color-51: 0,0,0;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 199,199,199;
--wix-color-55: 199,199,199;
--wix-font-Title: normal normal normal 50px/1.1em "space grotesk",sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 50px;
--wix-font-Title-line-height: 1.1em;
--wix-font-Title-family: "space grotesk",sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 16px/1.4em din-next-w01-light,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 16px;
--wix-font-Menu-line-height: 1.4em;
--wix-font-Menu-family: din-next-w01-light,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 38px/1.3em "space grotesk",sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 38px;
--wix-font-Page-title-line-height: 1.3em;
--wix-font-Page-title-family: "space grotesk",sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 28px/1.4em "space grotesk",sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 28px;
--wix-font-Heading-XL-line-height: 1.4em;
--wix-font-Heading-XL-family: "space grotesk",sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 26px/1.4em "space grotesk",sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 26px;
--wix-font-Heading-L-line-height: 1.4em;
--wix-font-Heading-L-family: "space grotesk",sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal bold 22px/1.4em "space grotesk",sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: bold;
--wix-font-Heading-M-size: 22px;
--wix-font-Heading-M-line-height: 1.4em;
--wix-font-Heading-M-family: "space grotesk",sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal bold 16px/1.4em "space grotesk",sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: bold;
--wix-font-Heading-S-size: 16px;
--wix-font-Heading-S-line-height: 1.4em;
--wix-font-Heading-S-family: "space grotesk",sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal bold 20px/1.4em proxima-n-w01-reg,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: bold;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.4em;
--wix-font-Body-L-family: proxima-n-w01-reg,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 16px/1.6em proxima-n-w01-reg,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 16px;
--wix-font-Body-M-line-height: 1.6em;
--wix-font-Body-M-family: proxima-n-w01-reg,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 14px/1.2em proxima-n-w01-reg,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 14px;
--wix-font-Body-S-line-height: 1.2em;
--wix-font-Body-S-family: proxima-n-w01-reg,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 12px/1.4em din-next-w01-light,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 12px;
--wix-font-Body-XS-line-height: 1.4em;
--wix-font-Body-XS-family: din-next-w01-light,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
    }
